<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather App</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
    <div class="main-content">
        {{>header}}
        <form id='addressInput'>
            <p>ENTER LOCATION BELOW TO SEARCH</p>
            <input type="text" id="address" placeholder="Enter Address or Location...">
            <button class="submit">Submit Address</button>
        </form>

        <div id="well">
            <div id="error">
                <p id="errorMessage"></p>
            </div>

            <div id="success">
                <h4>Current Weather Conditions in <span id="location"></span>:</h4>        
                <p id="weatherInfo"></p>
            </div>    

        </div>
        
    </div><!-- main content -->


{{>footer}}
<script src="js/script.js"></script>
</body>
</html>